/* Variables */

/* Styles */
body {
  margin: 0;
  font: 'Roboto', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.menu-link {
  width: 100%;
  height: 100%;
  a {
    text-decoration: none;
    color: inherit;
  }
}

