import React, { Component } from 'react';
import PropTypes from 'prop-types';
{{#redux}}
import { connect } from 'react-redux';
{{/redux}}

class {{name}} extends Component {
  static propTypes = {

  };

  render() {
    return (
      <div></div>
    );
  }
}

{{^redux}}
export default {{name}};
{{/redux}}
{{#redux}}
export default connect(
  state => ({

  }),
  {

  }
)({{name}});
{{/redux}}
