import React from 'react';
import PropTypes from 'prop-types';
{{#redux}}
import { connect } from 'react-redux';
{{/redux}}

const {{name}} = props => {
  return (
    <div></div>
  );
};

{{name}}.propTypes = {

};

{{^redux}}
export default {{name}};
{{/redux}}
{{#redux}}
export default connect(
  state => ({

  }),
  {

  }
)({{name}});
{{/redux}}
